@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Foster Unite</h1>
    <p class="lead">Foster Unite is ________________________</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>First Block</h2>
        <p>
            Description
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Second Block</h2>
        <p>
            Description
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Third Block</h2>
        <p>Description</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>